<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.trail_title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="fa-ul">
          <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-fw"></i>&nbsp;{{ site.email }}</a>
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-2"></div>
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
